    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">An Overview of the Nama Language</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>           
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phonology<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to 'phonology'}}Main{{/link-to}}</li>            
                <li>{{#link-to 'vowels'}}Vowels{{/link-to}}</li>
                <li>{{#link-to 'consonants'}}Consonants{{/link-to}}</li>
                <li>{{#link-to 'clicks'}}Clicks{{/link-to}}</li> 
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Morphology<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to 'morphology'}}Main{{/link-to}}</li>
                <li>{{#link-to 'structure'}}Morpheme Structure{{/link-to}}</li>                
                <li>{{#link-to 'pronoun-morphology'}}Pronouns{{/link-to}}</li>          
                <li>{{#link-to 'noun-morphology'}}Nouns{{/link-to}}</li>                
                <li>{{#link-to 'verb-morphology'}}Verbs{{/link-to}}</li>   
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Syntax<span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li>{{#link-to 'syntax'}}Main{{/link-to}}</li>
                    <li>{{#link-to 'declarative'}}Declarative{{/link-to}}</li>
                    <li>{{#link-to 'interrogative'}}Interrogative{{/link-to}}</li>
                    <li>{{#link-to 'hortative'}}Imperative-Hortative{{/link-to}}</li>
                    <li>{{#link-to 'verbphrase'}}Verb Phrase{{/link-to}}</li>
                    <li>{{#link-to 'tense'}}Tense{{/link-to}}</li>
                    <li>{{#link-to 'aspect'}}Aspect{{/link-to}}</li>
                    <li>{{#link-to 'negation'}}Negation{{/link-to}}</li>
                    <li>{{#link-to 'modifier'}}Modifier{{/link-to}}</li>     
                </ul>
              </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lexicon<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>{{#link-to 'lexicon'}}Main{{/link-to}}</li>                
                <li>{{#link-to 'borrowing'}}Borrowing{{/link-to}}</li>
                <li>{{#link-to 'gender'}}Gender Replacement{{/link-to}}</li>            
              </ul>
            </li>            
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 id="title">An Overview of the Nama Language</h1>
      </div>
    </div>
<div class="container" id="main">    
  {{outlet}}
</div>
<div id="accordion">
  <h3>Sources</h3>
  <div>
    <p>The following sources were used for this site:</p>
    <dd>Beach, Douglas M (1938). The phonetics of the Hottentot language. Cambridge: Heffer.</dd>
    <dd>Ethnologue, Languages of the World (2005). Ethnologue report for language code:naq.</dd>
    <dt>Retrieved from http://www.ethnologue.com/show_language.asp?code=naq</dt>
    <dd>Hagman, Roy S. (1977). Nama Hottentot Grammar. Bloomington: Indiana University.</dd>
    <dd>Ladefoged, Peter, & Traill, Anthony (1984). Linguistic phonetic descriptions of clicks</dd>
    <dt><em>Language: Journal of the Linguistic Society of America, 60,</em> 1-20.</dt>
  </div>
</div>
  <footer>
    <p>&copy; 2016 Adam Bodie, Inc.</p>
  </footer>
