<h1>Aspect</h1>

<p>Aspect, unlike tense, is not always marked.  There are three types of aspect, punctual, imperfective and perfective.  Aspect is only used with active verbs since it is used to describe actions in a flow of time.</p>

<h3>Punctual Aspect</h3>
{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="k!ũú"
break1="3SG-M"
break2="DECL"
break3="go"
english=  "He goes."}}
<p>Punctual aspect describes event happening at an exact time.  It's used in all tenses except for present tense and it unmarked.  The example provided is not considered grammatically correct in Khoekhoe, since the action describes occurs at the beginning and end.</p>
<hr>
<h3>Imperfective Aspect</h3>
{{syntax-list
word1="ǁʔĩi-s"
word2="ke"
word3="kòrò"
word4="ŋǁàe"
break1="3SG-F"
break2="DECL"
break3="REC.PST.IMP"
break4="sing."
english="She was just singing"}}
<p>Imperfective aspect describes events in progress and not complete.  It's used in all tenses and is usually added as a suffix to the tense it refers to.  The exceptions are present tense, which is unmarked, instead using the marker ra (if the preceding word ends with a vowel) or ta (if the preceding word ends in a consosant) and the future tense, whose marker has two morae, with ra after after the morae.  Otherwise, the imperfective aspect marker with the vowel and tone matching due to vowel harmony. Refer to the table below.</p>

  <table>
    <tr>
      <td><strong>Aspect</strong></td>
      <td><strong>Gloss</strong></td>
    </tr>
    <tr>
      <td>Remote Past</td>
      <td>kèrè</td>
    </tr>
    <tr>
      <td>Recent Past</td>
      <td>kòrò</td>
    </tr>
    <tr>
      <td>Present</td>
      <td>ra ~ ta</td>
    </tr>
    <tr>
      <td>Future</td>
      <td>nìí ra</td>
    </tr>
    <tr>
      <td>Indefinite</td>
      <td>kàrà</td>
    </tr>
  </table>
<hr>
<h3>Perfective Aspect</h3>
{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="ǀʔaé-sn"
word4="hàã"
break1="3SG-M"
break2="DECL"
break3="sick-REFL"
break4="PRES.PER"
english="He has gotten sick (Lit. He has sicken oneself)"}}

<p>Perfective aspect describes events that are complete, unlike the imperfective tense, and also events that have been completed for some time, unlike punctual tense.  Unlike Imperfective aspect, which appears before the verb, Perfective aspect appears after the verb.</p>

  <table>
    <tr>
      <td><strong>Aspect</strong></td>
      <td><strong>Gloss</strong></td>
    </tr>
    <tr>
      <td>Remote Past</td>
      <td>hàã ʔií</td>
    </tr>
    <tr>
      <td>Recent Past</td>
      <td>hàã ʔií</td>
    </tr>
    <tr>
      <td>Present</td>
      <td>hàã</td>
    </tr>
    <tr>
      <td>Future</td>
      <td>hàã hàã</td>
    </tr>
    <tr>
      <td>Indefinite</td>
      <td>hàã</td>
    </tr>
  </table>




