{{phoneme-list title="Khoekhoe Consonants" phoneme=model}}
<hr>
<h1>Consonants</h1>
<p>The non-click consonants in Khoekhoe, as described by Beach (1938:53) have seven places of articulation and six manners of articulation. There sixteen regular consonants, twelve used regularly and four that are only used in foreign word, which are marked in parentheses. Certain consonants are only used in special situations.  </p>
<ul>
  <li>The standard stops in Khoekhoe, /p/, /t/ and /k/, are characterized as voiceless and weakly aspirated.</li>
  <li>The stop /ʔ/ is often pronounced in words that begin with a vowel (Beach 1938:59).</li>
  <li>Fricatives are voiceless but are not found naturally between two vowels; any instances of this happening occurs in either compounds or foreign words (Beach 1938:61).</li>
  <li>Furthermore, /x/ can occur only at the beginning of roots and never occurs before the front vowels /i/ or /e/ (Beach 1938:63).</li>
  <li>The two affricates /ts/ and /kx/ are similar to the stops /t/ and /k/ but are aspirated (Beach 1938:65).</li>
  <li>The nasals /m/ and /n/ can be pronounced either as non-syllabic (which occurs only before vowels of the same syllable) or as syllabic (Beach 1938:67).</li>
  <li>The trill /r/ is used in natural Nama words only initially or between vowels (Beach 1938:71).</li>
</ul>