{{phoneme-list title="Nama Consonants" phoneme=model}}
<hr>
<h3>Consonants</h3>
<p>The non-click consonants in Nama,<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:53">[1]</a></sup> have seven places of articulation and six manners of articulation. There sixteen regular consonants, twelve used regularly and four that are only used in foreign word, which are marked in parentheses. Certain consonants are only used in special situations.</p>
<p>The standard stops in Nama, /p/, /t/ and /k/, are characterized as voiceless and weakly aspirated.</p>
<p>The stop /ʔ/ is often pronounced in words that begin with a vowel.<sup id="cite_ref-2" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:59">[2]</a></sup></p>
<p>Fricatives are voiceless but are not found naturally between two vowels; any instances of this happening occurs in either compounds or foreign words <sup id="cite_ref-3" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:61">[3]</a></sup></p>
<p>Furthermore, /x/ can occur only at the beginning of roots and never occurs before the front vowels /i/ or /e/<sup id="cite_ref-4" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:63">[4]</a></sup>.</p>
<p>The two affricates /ts/ and /kx/ are similar to the stops /t/ and /k/ but are aspirated.<sup id="cite_ref-5" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:65">[5]</a></sup></p>
<p>The nasals /m/ and /n/ can be pronounced either as non-syllabic (which occurs only before vowels of the same syllable) or as syllabic (Beach 1938:67).<sup id="cite_ref-6" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:67">[6]</a></sup></p>
<p>The trill /r/ is used in natural Nama words only initially or between vowels.<sup id="cite_ref-7" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:71">[7]</a></sup></p>
