<h1>Declarative Sentences</h1>

<p>Declarative sentences are the most common type of sentence, which is marked by the declarative marker <span>ke</span>.  Also used is <span>km...ʔoo</span> to mark declarative sentences emphatically, where <span>km</span> appears before the predicate while <span>ʔoo</span> appears after the predicate.</p>

{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="ʔáo-p-à"
word4="kè"
word5="ǂʔaí."
break1="3P-SGM"
break2="DECL"
break3="man-3PSGM-OBJ"
break4="RMT.PST"
break5="call"
english="He called the man."}}

{{syntax-list
word1="píli"
word2="ke"
word3="maríàs-à"
word4="ǂxanís-à"
word5="kè"
word6="màa."
break1="Bill"
break2="DECL"
break3="Mary-OBJ"
break4="letter-OBJ"
break5="RMT.PST"
break6="give."
english=  "Bill gave Mary the letter."}}

{{syntax-list
word1="ʔáo-p"
word2="ke"
word3="ʔoms"
word4="ǃnáà"
word5="tará-s-à"
word6="xuup-à"
word7="kè"
word8="màa."
break1="man-CL"
break2="DECL"
break3="house"
break4="in"
break5="woman-CL-OBJ"
break6="object-OBJ"
break7="RMT.PST"
break8="give"
english="The man gave the woman the object in the house."}}

{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="kè"
word4="k!ũú."
break1="3SG-M"
break2="DECL"
break3="RMT.PST"
break4="go."
english="He went."}}
