<h1>Imperative-Hortative Sentences</h1>  
{{syntax-list
word1="saá-ts-à"
word2="mùũ"
word3="rè!"
break1="2ND-SGM-OBJ"
break2="see"
break3="IMP!"
english="You see!"}} 

<p>Imperative-hortative sentences uses the optional morpheme <span>rè</span>, which unlike the declarative and interrogative markers, is found at the end of the predicate.</p>