      <div class="row">
        <h1>Introduction</h1>
        <div class="col-md-6">
        <p>This website examines the Nama language, focusing on the phonology, morphology, syntax and lexicon of the language. Nama, also known as Khoekhoe and formerly known as Hottentot is classified in the Khoe subfamily of the Khoisan family<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Ethnologue, 1996">[1]</a></sup>. Closely related languages are Xiri, a moribund language, Eini and Korana, both which are extinct languages. Nama is spoken by the Nama ethnic group. Nama is spoken primarily in the country of Namibia in southern Africa, where approximately 176,000 people in the country speak the language <sup id="cite_ref-2" class="reference"><a href="#accordion" data-toggle="tooltip" title="Ethnologue, 1996">[2]</a></sup>. There are 56,000 speakers in South Africa, and 1,500 speakers in Botswana.</p>
        </div>
        <div class="col-md-6">
          <img src="../img/nama.png" class="img-responsive">
        </div>
      </div>
      <hr>
      <!-- Example row of columns -->
      <div class="row">
        <h1>Phonology</h1>
        <div class="col-md-4">
          <div class="intro">          
          <h2>Vowels</h2>
          <p>Nama features six primary vowels, some of which can be nasalized, and others that can be combined to form diphthongs.  To read more about Nama vowels, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'vowels'}}Vowels{{/link-to}}</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="intro">           
          <h2>Consonants</h2>
          <p>Nama features two types of consonants, the regular consonants all languages feature, and the click consonants only found in Khoisan and some Bantu languages.  Click the link below to find out more about the regular consonants.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'consonants'}}Consonants{{/link-to}}</a></p>
          </div>
       </div>
        <div class="col-md-4">
          <div class="intro">           
          <h2>Clicks</h2>
          <p>Nama is well known for its use of clicks, which are formed by drawing air into your mouth to make a sound.  To read more about the Nama clicks, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'clicks'}}Clicks{{/link-to}}</a></p>
        </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <h1>Morphology</h1>
        <div class="col-md-4">
          <div class="intro"> 
          <h2>Pronouns</h2>
          <p>Nama features a variety of pronouns based on object, gender and number.  To read more about Nama pronouns, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'pronoun-morphology'}}Pronouns{{/link-to}}</a></p>
        </div>
        </div>
        <div class="col-md-4">
          <div class="intro">           
          <h2>Nouns</h2>
          <p>Nouns in Nama tend to formed via simple roots, as its basic morphological type is Type I (Isolating).  To learn the ways nouns are formed, click to link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'noun-morphology'}}Nouns{{/link-to}}</a></p>
       </div>
        </div>
        <div class="col-md-4">
          <div class="intro">           
          <h2>Verbs</h2>
          <p>Verbs in Nama are formed either through suffixes, combining with nouns, or reduplicating the morpheme itself to change its meaning.  To learn how verbs are formed, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'verb-morphology'}}Verbs{{/link-to}}</a></p>
        </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="intro">           
          <h2>Syntax</h2>
          <p>The basic structure of Nama syntax is SOV (Subject-Object-Verb) with the Subject being only optional.  Nama features three types of sentences; Declarative, Interrogative and Imperative-Hortative.  It also has multiple tenses, aspect and modifiers.  To learn more, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'syntax'}}Syntax{{/link-to}}</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="intro">           
          <h2>Lexicon</h2>
          <p>Click here to learn about Nama lexicon, which languages Nama borrows from, and how gender replacement makes words gain a new different meaning.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'lexicon'}}Lexicon{{/link-to}}</a></p>
          </div>
       </div>
      </div>       
   