      <div class="row">
        <h1>Introduction</h1>
        <div class="col-md-6">
        <p>This website examines the Khoekhoe language, focusing on the phonology, morphology, syntax and lexicon of the language. Khoekhoe, also known as Nama and formerly known as Hottentot is classified in the Khoe subfamily of the Khoisan family<sup id="cite_ref-1" class="reference"><a href="#" data-toggle="tooltip" title="Ethnologue, 1996">[1]</a></sup>. Closely related languages are Xiri, a moribund language, Eini and Korana, both which are extinct languages. Nama is spoken by the Nama ethnic group. Nama is spoken primarily in the country of Namibia in southern Africa, where approximately 176,000 people in the country speak the language <sup id="cite_ref-2" class="reference"><a href="#" data-toggle="tooltip" title="Ethnologue, 1996">[2]</a></sup>. There are 56,000 speakers in South Africa, and 1,500 speakers in Botswana.</p>
        </div>
        <div class="col-md-6">
          <img src="../nama.png" class="img-responsive">
        </div>
      </div>
      
      <!-- Example row of columns -->
      <div class="row">
        <h1>Phonology</h1>
        <div class="col-md-4">
          <h2>Vowels</h2>
          <p>Khoekhoe features six primary vowels, some of which can be nasalized, and others that can be combined to form diphthongs.  To read more about Khoekhoe vowels, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'vowels'}}Vowels{{/link-to}}</a></p>
        </div>
        <div class="col-md-4">
          <h2>Consonants</h2>
          <p>Khoekhoe features two types of consonants, the regular consonants all languages feature, and the click consonants only found in Khoisan and some Bantu languages.  Click the link below to find out more about the regular consonants.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'consonants'}}Consonants{{/link-to}}</a></p>
       </div>
        <div class="col-md-4">
          <h2>Clicks</h2>
          <p>Khoekhoe is well known for its use of clicks, which are formed by drawing air into your mouth to make a sound.  To read more about the Khoekhoe clicks, click the link below.</p>
          <p><a class="btn btn-default" href="#" role="button">{{#link-to 'clicks'}}Clicks{{/link-to}}</a></p>
        </div>
      </div>
   