<h1>Interrogative Sentences</h1>  
{{syntax-list
word1="taréʔe-p"
word2="ǁʔĩi-p-à"
word3="kè"
word4="ǂʔũu?"
break1="What-3PSGM"
break2="3P-SGM-OBJ"
break3="RMT.PST"
break4="eat?"
english="What did he eat?"}}
<p>Interrogative sentences are normally unmarked, but when making an assertion emphatically, the morpheme <span>kxa</span> is used, which appears before the predicate.</p>
