<h1>Modifiers</h1>
<p>Modifiers may appear before a noun to change its meaning.  There are six modifiers in all, shown below in the order they can appear.</p>
<h4>[Pronominal] + [Universal] + [Demonstrative] + [Associative] + [Number] + [Adjective]</h4>
<p>Pronominal modifiers cannot appear with Universal and Demonstrative modifiers; other than that, they can all appear before a noun.</p>
<hr>
<h1>Adjectives</h1>
<p>Adjectives may be placed before a noun, but some adjectives are suffixes inserted after the root.</p>
<hr>
<h1>Numbers</h1>
<p>There are two types of number systems: Gross numbers and Cardinal numbers.  Gross numbers appear only after plural nouns, consisting of of <span>ǂʔuí</span>  'many'and <span>ǀʔoro</span> 'few'  Cardinal numbers consist of the decimal numbers.</p>
<hr>
<h1>Associatives</h1>
<p>There are two simple associatives, <span>tíí</span> 'my' and <span>sáá</span> 'your.'  Another associative is tì, a possessive marker can be inserted before noun phrases.</p>
<hr>
<h1>Demonstratives</h1>
<p>Some demonstratives used include <span>nee</span> 'this,' <span>ŋǁãá</span> 'that,' <span>náú</span> 'that (contrastive),' <span>mãá</span> 'what,' <span>kǁhaá</span> 'the same' and <span>ŋǀĩí</span> 'some' (Hagman 1977:38). There are two demonstratives that mean 'that,' but <span>náú</span> is used to compare one object with another object, while <span>ŋǁãá</span> is used independently. An example of this would be found in the phrase nee kxòe-p 'this person (3SGM)'.</p>
<hr>
<h1>Universals</h1>
<p>There are three universals used in Nama: <span>hòá</span>, <span>hòárá</span>, <span>hòáráka</span>, all of which share the meaning 'the totality of' (Hagman 1977:40). The only difference between the three is that while hòárá and hòáráka emphasize that the totality of an object is being mentioned, hòá does not emphasize the marking. An example of this would be found in the phrase hòá ŋǁãá tsèes 'all that day'.</p>
<hr>
<h1>Pronominals</h1>
<p>The last modifier found in Nama are pronominal roots that identify the person These pronominals are found before the noun and cannot co-occur with demonstratives nor universals.</p>