<div class="row">
<div class="col-md-3">
  <h1 class="title-link">{{#link-to 'morphology'}}Morphology{{/link-to}}</h1>
  <ul class="side-link">
    <li>{{#link-to 'structure'}}Morpheme Structure{{/link-to}}</li>
    <li>{{#link-to 'pronoun-morphology'}}Pronouns{{/link-to}}</li>
    <li>{{#link-to 'noun-morphology'}}Nouns{{/link-to}}</li>
    <li>{{#link-to 'verb-morphology'}}Verbs{{/link-to}}</li>    
  </ul>
</div>
<div class="col-md-9 view-screen">
  {{outlet}}
</div>
</div>
