<h1>Negation</h1>

{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="ǁʔóé"
word4="tama"
word5="kò"
word6="ʔií"
break1="3SG-M"
break2="DECL"
break3="lay.down"
break4="NEG"
break5="REC.PST"
break6="NEG.COP"
english="He did not just lie down."}}
<hr>
{{syntax-list
word1="ǁʔĩi-p"
word2="ke"
word3="ǁʔóé"
word4="títe."
break1="3SG-M"
break2="DECL"
break3="lay.down"
break4="NEG"
english="He will not lie down."
}}

<p>Sentences with the negative marker in Nama are formed with the insertion of a negative morpheme after the verb. For active verb phrases, the negative morpheme tama is used for all tenses except the future tense, where the morpheme títe is used.  The negative copula ʔií is also used, but does not appear in present or future tense.</p>




	 	

