<h1>Noun Morphology</h1>
<p>Nouns are formed with a root and require a suffix to determine the gender and number.  Nouns are always in the third person and contain simple roots, since its basic morphological type is likely Type I (isolating), which calls for short morphemes.</p>
<p>Nouns have two main classes for gender, animate objects and inanimate objects.  Animate objects include people and animals, everything else is consider inanimate.  Gender is marked for only animate objects, since inaminate objects don't have gender.</p>

<h3>Derived Nouns</h3>
<p>The simplest way to form a noun is to have the root stand by itself.  Adjectives can be turned into noun by adding a suffix to a noun.</p>

{{syntax-list
word1="káí"
word2="-sì"
word3="-p"
break1="big"
break2="DER"
break3="3SGM"
english="bigness."}}

<h3>Compound Nouns</h3>
<p>Combining a noun with a verb makes a compound noun, but can also be formed by combining two nouns together to change the words meaning.</p>

{{syntax-list
word1="h!óá"
word2="-kǀaú"
word3="-s"
break1="speak"
break2="manner"
break3="F"
english="the manner of speaking."}}

{{syntax-list
word1="kxòe"
word2="-ŋǃõa"
word3="-ʔi"
break1="person"
break2="type.of"
break3="IND"
english="a type of person"}}

{{syntax-list
word1="práín"
word2="-hãa"
word3="-ku"
break1="Brian"
break2="and.other.things of.the.sort"
break3="3PLM"
english="Brian and the guys (who are with him)"}}

<p>Although verbs plus nouns can stand alone, in some instances, noun roots added to others cannot.  The last two examples, both -ŋǃõa and -hãa cannot stand alone and must be added to another noun.</p>
