<div class="row">
<div class="col-lg-3">
  <h1 class="title-link">{{#link-to 'phonology'}}Phonology{{/link-to}}</h1>
  <ul class="side-link">
    <li>{{#link-to 'vowels'}}Vowels{{/link-to}}</li>
    <li>{{#link-to 'consonants'}}Consonants{{/link-to}}</li>
    <li>{{#link-to 'clicks'}}Clicks{{/link-to}}</li>    
  </ul>
</div>
<div class="col-lg-9 view-screen">
  {{outlet}}
</div>
</div>
