<h1>Pronoun Morphology</h1>

<p>Pronouns are formed by using a pronominal and a suffix.<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:42">[1]</a></sup>  There are four pronominals, with only the first person distinguishing between singular and non-singular:</p>
<ul>
  <li><span>tií</span> - '1st Person Singular'</li>
  <li><span>sií</span> - '1st Person Dual/Plural'</li>
  <li><span>saá</span> - '2nd Person'</li>
  <li><span>ǁʔĩi</span> - '3rd Person'</li>
</ul>

<p>In addition, suffixes are added to distinguish the person, gender and number of the pronominal.  There are three types of grammatical numbers:</p>
<ul>
  <li>Singular</li>
  <li>Dual</li>
  <li>Plural</li>
</ul>
<p>There are also four types of gender:</p>
<ul>
  <li>Masculine</li>
  <li>Feminine</li>
  <li>Common</li>
  <li>Indefinite</li>
</ul>
<p>Indefinite gender is independent of number, while common gender refers to a group of both males and females.  A chart of pronouns is shown below <sup id="cite_ref-2" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:42">[2]</a></sup></p>
{{phoneme-list title="Nama Pronouns" phoneme=model}}
<hr>

<p>For first person dual feminine/common, third person singular masculine, third person plural common/indefinite each have two allomorphs, with the second allopmorph in each instance being used if the preceding steam ends with a consonant.  Otherwise, the first allomorph is used.<sup id="cite_ref-3" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:22">[3]</a></sup></p>