<h1>Morpheme Structure</h1>
<p>The basic structure of the morpheme is the mora, which consist of an optional consonant and a vowel or a morpheme-final nasal.<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:11">[1]</a></sup>  If the vowel or morpheme-final nasal is followed by any of the following phonemes: /p/, /s/, or /ts/ in the word final position, they are considered part of the mora as well.  The mora structure is shown below, where C = Consonant and N = Nasal.</p>
<h3>(C)V(C) or (C)N(C)</h3>
<p>Two morae not separated by a consonant or pronounced without a syllabic break, for example, the word <span>kùún</span>, which contains three morae (kù-ú-n), is pronounced as one syllable but takes three times as long to pronounce as a morpheme with one mora.</p>
<p>Words in Nama are usually only one or two morae, with any word with three or more morae considered rare.</p>