<div class="row">
<div class="col-md-3">
  <h1>Syntax</h1>
  <ul>
    <li>{{#link-to 'activity'}}Activity{{/link-to}}</li>
    <li>{{#link-to 'indirect'}}Indirect Object{{/link-to}}</li>
    <li>{{#link-to 'locative'}}Locative{{/link-to}}</li>
    <li>{{#link-to 'argument'}}Argument{{/link-to}}</li>
    <li>{{#link-to 'universal'}}Universal{{/link-to}}</li>
    <li>{{#link-to 'demonstrative'}}Demonstrative{{/link-to}}</li>
    <li>{{#link-to 'relative'}}Relative{{/link-to}}</li>
    <li>{{#link-to 'tense'}}Tense{{/link-to}}</li>
    <li>{{#link-to 'passive'}}Passive{{/link-to}}</li>
    <li>{{#link-to 'reflexive'}}Reflexive{{/link-to}}</li>
    <li>{{#link-to 'aspect'}}Aspect{{/link-to}}</li>
    <li>{{#link-to 'negation'}}Negation{{/link-to}}</li>
  </ul>
</div>
<div class="col-md-9">
  <!--<p>The sentence structure for Khoekhoe is SOV (Subject-Object-Verb).  Objects in a sentence are marked with the suffix -à.  DECL = Declarative, RMT.PST = Remote Past, OBJ = Object, IMP = Imperative.</p>-->
  {{outlet}}
</div>
</div>