<div class="row">
  <p>Khoekhoe has two past tense types, Remote Past and Recent Past, along with Present tense, Future tense and Indefinite tense.  The difference between remote and recent past is that remote past refers to an event that occurred long ago, while recent past refers to an event that finished recently.  Indefinite tense refers to an event that doesn't have a defined time period.  Tense is used with both verb types, active and stative.  Active verbs refer to actions, while stative verbs refer to state of being (i.e., being good)</p>
  <table>
    <tr>
      <td><strong>Tense</strong></td>
      <td><strong>Active</strong></td>
      <td><strong>Stative</strong></td>
    </tr>
    <tr>
      <td>Remote Past</td>
      <td>kè</td>
      <td>kè ʔií</td>
    </tr>
    <tr>
      <td>Recent Past</td>
      <td>kò</td>
      <td>kò ʔií</td>
    </tr>
    <tr>
      <td>Present</td>
      <td>Ø</td>
      <td>ʔa</td>
    </tr>
    <tr>
      <td>Future</td>
      <td>nìí</td>
      <td>nìí</td>
    </tr>
    <tr>
      <td>Indefinite</td>
      <td>kà</td>
      <td>kà</td>
    </tr>
  </table>
</div>
