{{phoneme-list title="Nama Vowels" phoneme=model}}
<h3>Vowels</h3>
<p>Nama features two types of vowels, oral and nasal.  Except for /e/ and /ə/ (which is rarely used), each vowel has a corresponding nasal vowel. The vowels /i/ and /e/ are only found at the end of the root, while the other vowels don't have such restrictions.</p>
<p>Nasal vowels occur due to assimilation of the neighboring nasal consonant, which is typical of most languages with nasal vowels.  They occur as either the only vowel in a root or part of a diphthong.  One exception is the nasal /õ/, which only occurs as a diphthong with /ã/.</p>
<p>There are eleven diphthong combinations on Nama, seven oral diphthongs and four nasal diphthongs. The oral diphthongs are: /ai/, /ae/, /au/, /ao/, /oe/, /oa/, and /ui/.  The nasal diphthongs are: /aĩ/, /aũ/, /õa/, and /uĩ/, which are a combination of both nasal vowels.<sup id="cite_ref-1" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:49">[1]</a></sup></p>
<h3>Tones</h3>
<p>Vowels in Nama also have different tones.  There are three types of tones, high tones /v́/, mid tones /v/ and low tones /v̀/ (note that 'v' stands for vowel, and mid tones are unmarked).  There are six combinations of tones based on the morae (m = mora): ḿḿ, ḿm, mḿ, mm, m̀ḿ, and m̀m<sup id="cite_ref-2" class="reference"><a href="#accordion" data-toggle="tooltip" title="Hagman 1977:12">[2]</a></sup></p>
<p>A chart of the vowels is shown below <sup id="cite_ref-3" class="reference"><a href="#accordion" data-toggle="tooltip" title="Beach 1938:35">[3]</a></sup></p>
<img src="../img/vowels.svg" class="img-responsive" id="vowel-svg">
