<img src="../vowels.svg" class="img-responsive" id="vowel-svg">
{{phoneme-list title="Khoekhoe Vowels" phoneme=model}}
<div class="row">
<h1>Vowels</h1>
<p>Khoekhoe features two types of vowels, oral and nasal.  Except for /e/ and /ə/ (which is rarely used), each vowel has a corresponding nasal vowel. The vowels /i/ and /e/ are only found at the end of the root, while the other vowels don't have such restrictions.</p>
<p>Nasal vowels occur due to assimilation of the neighboring nasal consonant, which is typical of most languages with nasal vowels.  They occur as either the only vowel in a root or part of a diphthong.  One exception is the nasal /õ/, which only occurs as a diphthong with /ã/.</p>
<p>There are eleven diphthong combinations on Khoekhoe, seven oral diphthongs and four nasal diphthongs. The oral diphthongs are: /ai/, /ae/, /au/, /ao/, /oe/, /oa/, and /ui/.  The nasal diphthongs are: /aĩ/, /aũ/, /õa/, and /uĩ/, which are a combination of both nasal vowels.</p>
</div>
<div class="row">
  <h1>Tones</h1>
  <p>Vowels in Khoekhoe also have different tones.  There are three types of tones, high tones /v́/, mid tones /v/ and low tones /v̀/ (note that 'v' stands for vowel, and mid tones are unmarked).  There are six combinations of tones based on the morae (m = mora): ḿḿ, ḿm, mḿ, mm, m̀ḿ, and m̀m</p>
</div>
